# ~/.config/systemd/user/iperf3-speedtest.timer
[Unit]
Description=Run IPerf3 speed test 15s after boot
After=network-online.target

[Timer]
OnBootSec=60s
AccuracySec=1s

[Install]
WantedBy=timers.target
