[Unit]
Description=Raspberry Pi Telegram Bot
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/andrei/Raspberry_pi_telegram_bot
Environment=PYTHONUNBUFFERED=1
ExecStart=/home/andrei/.venv/bin/python main.py
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal
SyslogIdentifier=rpi-telegram-bot
Environment=LC_ALL=C
Environment=LANG=C

[Install]
WantedBy=default.target
